<section class="restaurant-about-kitchen section-about">
    <div class="container restaurant-about-kitchen-container">
        <h1 class="visually-hidden">About our kitchen</h1>
        <p class="section-title-pre-text">Amet minim mollit non</p>
        <p class="section-title">MIMIHO</p>
        <p class="section-title-post-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>        
        <div class="photo-about-kitchen">
            <picture>
                <source
                    srcset="./images/restaurant/restaurant-interior/restaurant-interior-1-desktop-min.jpg 1x, 
                            ./images/restaurant/restaurant-interior/restaurant-interior-1-desktop-2x-min.jpg 2x"
                    media="(min-width: 1200px)"
                >
                <source
                    srcset="./images/restaurant/restaurant-interior/restaurant-interior-1-tab-min.jpg 1x, 
                            ./images/restaurant/restaurant-interior/restaurant-interior-1-tab-2x-min.jpg 2x"
                    media="(min-width: 1024px)"
                >
                <source
                    srcset="./images/restaurant/restaurant-interior/restaurant-interior-1-min.jpg 1x, 
                            ./images/restaurant/restaurant-interior/restaurant-interior-1-2x-min.jpg 2x"
                    media="(min-width: 414px)"
                >
                <img                       
                    src="./images/restaurant/restaurant-interior/restaurant-interior-1-min.jpg" 
                    alt="фото приготування їжі" 
                    width="920"
                >
            </picture>
        </div>
        <div class="second-photo-about-kitchen">
            <picture>
                <source
                    srcset="./images/restaurant/food/meat-desktop-min.jpg 1x, 
                            ./images/restaurant/food/meat-desktop-2x-min.jpg 2x"
                    media="(min-width: 1200px)"
                >
                <source
                    srcset="./images/restaurant/food/meat-tab-min.jpg 1x, 
                            ./images/restaurant/food/meat-tab-2x-min.jpg 2x"
                    media="(min-width: 1024px)"
                >
                <source
                    srcset="./images/restaurant/food/meat-min.jpg 1x, 
                            ./images/restaurant/food/meat-2x-min.jpg 2x"
                    media="(min-width: 414px)"
                >
                <img                       
                    src="./images/restaurant/food/meat-min.jpg" 
                    alt="фото їжі" 
                    width="920"
                >
            </picture>
            <p class="second-photo-about-kitchen-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>        
        <div class="fade2 slider-about">
            <div class="slider-about__item">           
                <picture>
                    <source
                        srcset="./images/restaurant/slider/slider-1-desktop-min.jpg 1x, 
                                ./images/restaurant/slider/slider-1-desktop-2x-min.jpg 2x"
                        media="(min-width: 1200px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-1-tab-min.jpg 1x, 
                                ./images/restaurant/slider/slider-1-tab-2x-min.jpg 2x"
                        media="(min-width: 1024px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-1-min.jpg 1x, 
                                ./images/restaurant/slider/slider-1-2x-min.jpg 2x"
                        media="(min-width: 414px)"
                    >
                    <img                       
                        src="./images/restaurant/slider/slider-1-min.jpg" 
                        alt="фото приготування їжі" 
                    >
                </picture>
            </div>  
            <div class="slider-about__item">
                <picture>
                    <source
                        srcset="./images/restaurant/slider/slider-2-desktop-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-desktop-2x-min.jpg 2x"
                        media="(min-width: 1200px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-2-tab-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-tab-2x-min.jpg 2x"
                        media="(min-width: 1024px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-2-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-2x-min.jpg 2x"
                        media="(min-width: 414px)"
                    >
                    <img                       
                        src="./images/restaurant/slider/slider-2-min.jpg" 
                        alt="фото їжі" 
                    >
                </picture>
            </div> 
            <div class="slider-about__item">
                <picture>
                    <source
                        srcset="./images/restaurant/slider/slider-2-desktop-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-desktop-2x-min.jpg 2x"
                        media="(min-width: 1200px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-2-tab-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-tab-2x-min.jpg 2x"
                        media="(min-width: 1024px)"
                    >
                    <source
                        srcset="./images/restaurant/slider/slider-2-min.jpg 1x, 
                                ./images/restaurant/slider/slider-2-2x-min.jpg 2x"
                        media="(min-width: 414px)"
                    >
                    <img                       
                        src="./images/restaurant/slider/slider-2-min.jpg" 
                        alt="фото їжі" 
                    >
                </picture>
            </div>
        </div>
    </div>
</section>