.menu__section {
  width: 100%;
  background-color: var(--first-color-fon);
  padding-top: 24px;
  padding-bottom: 24px;
  @include mobile {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include tablet {
    padding-top: 58px;
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 60px;
  }
}

.menu__title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.54;

  color: var(--main-title-color);

  padding-bottom: 32px;
  @include mobile {
    padding-bottom: 40px;

    font-size: 32px;
    line-height: 1.16;
  }
  @include desktop {
    padding-bottom: 40px;
  }
}

.menu__dishes {
  padding-bottom: 32px;
  width: 100%;
  @include mobile {
    width: 384px;
  }
  @include tablet {
    width: 930px;
    display: flex;
    gap: 88px;
  }
  @include desktop {
    width: 1110px;
    gap: 140px;
    padding-bottom: 40px;
  }
}

.menu__dishes--first-part {
  @include tablet {
    width: 411px;
  }
  @include desktop {
    width: calc((100% - 140px) / 2);
  }
}

.menu__dishes--second-part {
  @include tablet {
    width: 431px;
  }
  @include desktop {
    width: calc((100% - 140px) / 2);
  }
}

.category__title {
  text-align: start;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18 px;
  line-height: 1.15;

  color: var(--main-title-color);

  margin-bottom: 16px;
  @include mobile {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 1.17;
  }
}

.category__dish {
  display: block;
  width: 100%;
  padding-bottom: 16px;
  @include tablet {
    padding-bottom: 0;
  }
}

.category__dish:not(:last-child) {
  @include tablet {
    padding-bottom: 20px;
  }
}

.category__dish--no-padding {
  padding-bottom: 0px;
}

.dish__complex,
.dish__single {
  display: block;
}

.dish__complex:not(:last-child) {
  padding: 0 0 8px 0;
}

.dish__single:not(:last-child) {
  padding: 0 0 11px 0;
}

.dish__wrap {
  width: 221px;
  @include tablet {
    width: 226px;
  }
  @include desktop {
    width: 291px;
  }
}

.dish__name {
  width: 100%;
  font-family: 'Montserrat-500', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  margin-bottom: 4px;
  padding: 0;
  @include mobile {
    font-size: 14px;
    line-height: 1.21;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.25;
  }
}

.dish__name--single {
  height: 17px;
  width: 185px;
}

.dish__name--single:not(:last-child) {
  margin-bottom: 0;
}

.dish__ingredients {
  font-family: 'Montserrat-400', sans-serif;
  font-style: normal;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
  @include mobile {
    font-size: 10px;
  }
}

.dish__weight {
  font-family: 'Montserrat-300', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  padding: 0 0 0 28px;
  height: 17px;
  min-width: 60px;
  vertical-align: middle;
  @include mobile {
    font-size: 14px;
  }
  @include tablet {
    padding: 0 0 0 46px;
  }
  @include desktop {
    padding: 0 0 0 26px;
  }
}

.dish__weight--salad {
  @include tablet {
    padding: 0 0 0 46px;
  }
  @include desktop {
    padding: 0 0 0 28px;
  }
}

.dish__weight--desert {
  padding-left: 90px;
  @include tablet {
    padding: 0 0 0 86px;
  }
  @include desktop {
    padding: 0 0 0 132px;
  }
}

.dish__weight--drinks {
  padding-left: 75px;
  @include tablet {
    padding: 0 0 0 85px;
  }
  @include desktop {
    padding: 0 0 0 132px;
  }
}

.dish__price {
  font-family: 'Montserrat-700', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-title-color);

  padding: 0 0 0 32px;
  min-width: 94px;
  vertical-align: middle;
  // text-align: end;
  @include mobile {
    font-size: 14px;
  }
  @include tablet {
    padding: 0 0 0 38px;
  }
  @include desktop {
    padding: 0 0 0 67px;
  }
}

.dish__price--potato {
  @include tablet {
    padding: 0 0 0 40px;
  }
  @include desktop {
    padding: 0 0 0 70px;
  }
}

.dish__price--salad {
  @include tablet {
    padding: 0 0 0 61px;
  }
  @include desktop {
    padding: 0 0 0 69px;
  }
}

.dish__price--desert {
  @include tablet {
    padding: 0 0 0 63px;
  }
  @include desktop {
    padding: 0 0 0 71px;
  }
}

.dish__price--drinks {
  @include tablet {
    padding: 0 0 0 51px;
  }
  @include desktop {
    padding: 0 0 0 59px;
  }
}

.dish__price--bigger-padding {
  padding: 0 0 0 45px;
  @include tablet {
    padding: 0 0 0 62px;
  }
  @include desktop {
    padding: 0 0 0 69px;
  }
}

.dish__price--big-padding {
  padding: 0 0 0 38px;
  @include tablet {
    padding: 0 0 0 55px;
  }
  @include desktop {
    padding: 0 0 0 64px;
  }
}

.menu__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    margin-left: auto;
    margin-right: 0;
  }
}
