.amenities-section {
  padding: 32px 15px;
  background: var(--first-color-fon);
  @include tablet {
    padding: 48px 47px;
    > div {
      display: flex;
      gap: 80px;
    }
    >p:first{
      width: 768px;
    
    }
  }
  @include desktop {
    padding: 48px 85px;
    > div {
      display: flex;
      gap: 160px;
    }
  }
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: var(--black-color);
  text-transform: uppercase;
  line-height: 36.8px;
  font-size: 32px;
  @include desktop {
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      // z-index: 1;
      width: 1px;
      height: 1070px;
      left: 250px;
      top: -50px;
      border: 1px solid rgba(186, 186, 186, 0.4);
      filter: blur(0.5px);
    }
    &::before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 1px;
        height: 1070px;
        left: 600px;
        top: -50px;

        border: 1px solid rgba(186, 186, 186, 0.4);
        filter: blur(0.5px);
      }
  }
}
.amenities-subtitle {
  font-family: 'Times New Roman', Times, serif;
  color: var(--black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.amenities-description {
  font-family: 'Montserrat-700';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 32px;

  @include tablet {
    display: inline-block;
    &:not(:first){
      width: 400px;
      
    }
  }
}

.amenities-order-btn {
  padding: 20px 43px;
  width: 100%;
  border-radius: 25px;
  background: var(--black-color);
  font-family: 'Montserrat-500';
  color: var(--white-color);
  font-size: 20px;
  line-height: 24.3px;
  white-space: nowrap;
  border: 1px solid var(--accent-color);
  @include tablet {
    width: 434px;
    display: block;
    margin-left: auto;
  }
  @include desktop {
    width: 434px;
    display: block;
    margin-left: auto;
    margin-right: calc(190px - 85px);
  }
}

.amenities-return-link {
  margin-top: 20px;
  color: var(--second-accent-color);
  letter-spacing: 2%;
  font-family: 'Montserrat-500';
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-left: calc(31px - 15px);
  @include tablet {
    font-size: 20px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }
  @include desktop {
    width: 434px;
    display: block;
    margin-left: auto;
    margin-right: calc(190px - 85px);
  }
}
.icon-return-link {
  height: 12.6px;
  width: 25px;
  fill: var(--second-accent-color);
  margin-left: 12.75px;
  border-radius: 0px;
}
