<section class="details-hotel section">
  <div class="container-details-hotel">
    <div class="details-hotel__information">
      <h1 class="details-hotel__logo">Mimino</h1>
      <p class="details-hotel__title">Готель</p>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-hotel__buttons">
      <button type="button" class="button details-hotel__button-booking">
        Забронювати столик
      </button>
      <button type="button" class="button details-hotel__button-menu">
        <a href="./hotel.html" class="details-hotel__button-link">
          Переглянути ціни</a
        >
      </button>
    </div>
  </div>
</section>
