.main-page-about-hotel {
  background-color: var(--first-color-fon);
}

.main-page-about-hotel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.text-reverse {
  text-align: right;
}

.post-text-right {
  margin-left: auto;
  width: 242px;

  @include tablet {
    width: 419px;
  }

  @include desktop {
    width: 488px;
  }
}

.main-page-photo-about-hotel {
  width: 65%;
  margin-top: 28px;
  margin-right: auto;
  background: #dadada;
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include mobile {
    width: 244px;
  }
  @include tablet {
    position: absolute;
    top: -153px;
    left: 65px;

    margin-top: 0px;

    width: 400px;
  }
  @include desktop {
    left: 95px;
    top: -153px;

    width: 460px;
  }
}
.main-page-second-photo-about-hotel {
  margin-top: 32px;

  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    justify-content: flex-end;

    margin-top: 142px;
    gap: 48px;
  }
  @include desktop {
    margin-top: 162px;
    gap: 45px;
  }
  & picture {
    width: 50%;
    background: #dadada;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    @include mobile {
      width: 200px;
    }
    @include tablet {
      width: 350px;
    }
    @include desktop {
      width: 460px;
    }
  }
}
.main-page-second-photo-about-hotel-text {
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.02em;
  color: var(--second-accent-color);
  width: 163px;

  @include tablet {
    font-size: 16px;
    width: 312px;
  }
}

// --- slider slick styles ---
// ограничивающая оболочка
.slick-list {
  overflow: hidden;
}
// лента слайдов
.slick-track {
  display: flex;
  align-items: flex-start;
  transform: translate3d(0px, 0px, -831px);
}
// Slider-about styles
.slider-about-left-position {
  margin-top: 32px;
  min-width: 0;
  width: calc(100% - 54px);
  height: 100%;
  position: relative;
  margin-right: auto;
  left: -15px;
  // background: #dadada;
  background: transparent;
  // background: var(--first-color-fon);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @include tablet {
    // position: relative;
    width: 428px;
    margin: 0;
    margin-left: 15px;
    margin-right: auto;
    top: -28px;
  }
  @include desktop {
    position: absolute;
    width: 548px;
    height: 254px;
    top: 794px;
    left: 0;
  }
  & .slick-arrow {
    position: absolute;
    top: 279px;
    width: 30px;
    height: 16px;
    background-size: contain;
  }
  // Arrow right
  & .slick-arrow.slick-next {
    right: 220px;
    background: url(../images/svg/arrow-right-about.svg) 0 0 / 100% no-repeat;
    @include tablet {
      right: 334px;
      top: calc(194 + (96 / 2));
    }
    @include desktop {
      top: calc(254 + (96 / 2));
      right: calc(254 + 40 + 151);
      left: 103px;
    }
    &:hover,
    &:focus-within {
      background-image: url(../images/svg/arrow-right-about-gold.svg);
    }
  }
  // Arrow left
  & .slick-arrow.slick-prev {
    left: 18px;
    background: url(../images/svg/arrow-left-about.svg) 0 0 / 100% no-repeat;
    @include tablet {
      left: 0;
      top: calc(194 + (96 / 2));
    }
    @include desktop {
      top: calc(254 + (96 / 2));
      left: 9px;
    }
    &:hover,
    &:focus-within {
      background-image: url(../images/svg/arrow-left-about-gold.svg);
    }
  }
  .slider-about__item {
    text-align: center;
    margin-left: 24px;
    @include tablet {
      margin-left: 40px;
    }
  }
}
