.footer {
  background-color: var(--footer-color-fon);
}
.container-footer {
  display: flex;
  position: relative;
  padding: 40px 33px 40px 59px;
  max-width: 414px;
  margin: 0 auto;
  align-items: center;
  @media screen and (max-width: 414px) {
    padding: 40px 20px 40px 39px;
  }
  @include tablet {
    padding: 80px 120px 80px 154px;
    max-width: 1024px;
  }
  @include desktop {
    padding: 80px 186px 80px 216px;
    max-width: 1280px;
  }
}

.wrap {
  margin-right: auto;
  @media screen and (max-width: 413px) {
    margin-bottom: 16px;
  }
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-right: 163px;
    max-width: 202px;
  }
  @include desktop {
    margin-right: 231px;
  }

  &__logo-footer {
    display: block;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.06;
    letter-spacing: 0.3em;
    color: var(--accent-color);
    transition: color var(--animation-link);
    .wrap &:hover,
    .wrap &:focus-within {
      color: var(--second-accent-color);
    }

    @include tablet {
      font-family: 'Film P3';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 1.08;
      letter-spacing: 0.3em;
    }
  }
}

.box {
  @include tablet {
    display: flex;
  }
}
.features {
  @include tablet {
    margin-right: 137px;
  }
  @include desktop {
    margin-right: 199px;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 16px;
}
.features__link {
  font-family: 'Montserrat-500';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &:hover,
  &:focus-within {
    color: var(--second-accent-color);
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet {
    flex-direction: column;
    gap: 12px;
  }

  @media screen and (max-width: 1023px) {
    margin-top: 32px;
  }
}
.footer-social__link {
  display: block;
  @include tablet {
    display: none;
  }
}
.footer-social__tablet {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 0.5px solid var(--second-accent-color);
  border-radius: 2px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.footer-social__text {
  transition: color var(--animation-link);
  margin-right: 15px;

  font-family: 'Montserrat-400';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  &--inst {
    margin-right: 11px;
  }
  .footer-social__item:hover &,
  .footer-social__item:focus-within & {
    color: var(--second-accent-color);
  }
}
.footer-social__icons {
  transition: fill var(--animation-link);
  fill: rgba(243, 198, 83, 0.7);
  .footer-social__item:hover &,
  .footer-social__item:focus-within & {
    fill: var(--accent-color);
  }
}
.footer-social__item {
  max-width: 144px;
}