.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  z-index: 9;
}

.menu {
  display: flex;
  align-items: center;
}
.header__logo {
  padding-top: 16px;
  max-width: 114px;
  margin-right: 52px;
  @media screen and (min-width: 1024px) {
    padding-top: 24px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 87px;
    max-width: 127px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 96px;
  }

  &-navigation {
    font-family: 'Film P3';
    font-style: normal;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--white-color);

    @media screen and (min-width: 1024px) {
      font-size: 40px;
      max-width: 127px;
      /*margin-right: 87px;*/
    }
    @media screen and (min-width: 1280px) {
      /*margin-right: 96px;*/
    }
  }
}
.menu__navigation {
  margin-top: 0;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: 'Montserrat-500';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 12px;
  padding-top: 28px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    margin-right: 32px;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  margin-top: 0;
}
.menu__contact {
  display: flex;
  align-items: center;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  margin-top: 30px;

  @media screen and (min-width: 1024px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 8px;
  }

  @media screen and (max-width: 1023px) {
    border: none;
  }
}
.contact {
  margin-right: 26px;
  @media screen and (min-width: 1024px) {
    margin-right: 72px;
  }
}

.menu__tel {
  display: flex;
  align-items: center;
  font-family: 'Montserrat-400';
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.menu__tel-tel {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.second-tel {
  margin-left: 16px;
}

.menu__tel-icon {
  fill: var(--accent-color);

  @media screen and (min-width: 1024px) {
    margin-right: 12px;
  }
}
.header__social {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-left: auto;
  padding-top: 39px;
  &-icon {
    fill: var(--accent-color);
  }
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
