<section class="section-amenities">
  <div class="container container--amenities">
    <ul class="comfort-list">
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2
            class="comfort-list__title comfort-list__title--first animate__animated animate__zoomIn animate__delay-1s">
            Зручності у номері
        </div>
        <p class="comfort-list__text comfort-list__text--amenities">Amet minim mollit non deserunt ullamco est sit
          aliqua dolor do amet sint.
          Velit
          officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2 class="comfort-list__title">Загальні</h2>
        </div>
        <p class="comfort-list__text comfort-list__text--margin">Amet minim mollit non deserunt ullamco est sit aliqua
          dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="comfort-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2 class="comfort-list__title">Ванна кімната</h2>
        </div>
        <p class="comfort-list__text comfort-list__text--margin">Amet minim mollit non deserunt ullamco est sit aliqua
          dolor do amet sint. Velit
          officia consequat duis enim
          velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="comfort-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2 class="comfort-list__title">Спальня</h2>
        </div>
        <p class="comfort-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2 class="comfort-list__title">Кухня</h2>
        </div>
        <p class="comfort-list__text comfort-list__text--margin">Amet minim mollit non deserunt ullamco est sit aliqua
          dolor do amet sint.</p>
        <p class="comfort-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="comfort-list__item">
        <div class="box-animation" data-aos="zoom-in">
          <h2 class="comfort-list__title">Медіа</h2>
        </div>
        <p class="comfort-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit
          mollit.</p>
      </li>
    </ul>
    <button class="section-amenities__button">Оформити бронювання</button>
    <a class="amenities-link" href=""><span class="amenities-link__text">Повернутися до перегляду номерів</span>
      <svg class="amenities-link__icon" width="24px" height="24px">
        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>