<section class="amenities-section">
  <div data-aos="zoom-in">
    <h2 class="animate__animated animate__zoomIn animate__delay-1s heading">
      Зручності у номері
    </р>
    
  </div>
  <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <h3 class="amenities-subtitle">ЗАГАЛЬНІ</h3>
   <div>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
   </div>
    <h3 class="amenities-subtitle">ВАННА КІМНАТА</h3>
    <div>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <h3 class="amenities-subtitle">СПАЛЬНЯ</h3>
    <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    <h3 class="amenities-subtitle">КУХНЯ</h3>
    <div>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    </div>
    <h3 class="amenities-subtitle">МЕДІА</h3>
    <p class="amenities-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <button class="amenities-order-btn">ОФОРМИТИ БРОНЮВАННЯ</button><a href="" class="amenities-return-link">Повернутися до перегляду номерів
      <svg class="icon-return-link">
        <use  href="./images/symbol-defs.svg#icon-arrow-right">
        </use>
      </svg>
    </a>
</section>
